@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.portfolio {
  background-image: url('../assets/img/cielo.jpg');
}

.pc {
  background-image: url('../assets/img/pc.jpg');
}
/* src/styles.css */
.bg-site {
  background-image: url('./assets/img/cielo.jpg'); /* Asegúrate de que la ruta sea correcta */
}


.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.section {
  @apply py-8 lg:py-24 lg:h-screen flex items-center;
}
.btn-link {
  @apply text-base;
}



