@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face  {
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.portfolio {
  background-image: url('../assets/img/cielo.jpg');
}

.pc {
  background-image: url('../assets/img/pc.jpg');
}
/* src/styles.css */
.bg-site {
  background-image: url('./assets/img/cielo.jpg'); /* Asegúrate de que la ruta sea correcta */
}


.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

/* Container and section styles */


.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styles */
header {
  margin-bottom: 1rem;
}

header h1,
header h2 {
  color: #ffffff;
}

/* Skill card styles */
.skill-card {
  background: linear-gradient(135deg, #39ff14 0%, #9b00e8 50%, #35127d 100%);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skill-card span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.skill-card::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(135deg, #4a00e0 0%, #9b00e8 50%, #39ff14 100%);
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s;
}

.skill-card:hover::before {
  opacity: 1;
}

/* Grid styles */
.grid {
  display: grid;
  gap: 1.5rem;
}

/*Xp*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.page-link:hover {
  background-color: #05020d;
}

.pagination .page-item .page-link {
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  color: white;
  border: 1px solid transparent;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.pagination .page-item .page-link:hover {
  background: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.63%, #b936ee 100%, #ff56f6 117.04%);
  color: white;
  border: 1px solid transparent;
  transform: translateY(-2px);
}

.pagination .page-item .page-link:focus {
  outline: none;
}

.pagination .page-item .active .page-link {
  background: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.63%, #b936ee 100%, #ff56f6 117.04%);
  color: white;
  border-radius: 100%;
  padding: 1rem;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}
.custom-active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px; /* Ajusta el radio del borde para un estilo no circular */
  padding: 10px 15px; /* Ajusta el padding para que coincida con los botones no activos */
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}



@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.section {
  @apply py-8 lg:py-24 lg:h-screen flex items-center;
}
.btn-link {
  @apply text-base;
}



